*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family:'Harry Potter', sans-serif;
}
body{
    cursor: url(../assets/varita.png), auto;
}
.hufflepuff{
cursor: url(../assets/huf.png), auto;
width:8rem;
}
.ravenclaw{
    cursor: url(../assets/rav.png), auto;
    width:8rem;
 }
 .slytherin{
    cursor: url(../assets/sli.png), auto;
    width:8rem;
 }
 .gryffindor{
    cursor: url(../assets/glif.png), auto;
    width:8rem;
}
/*
.hufflepuff{
    color:#ecb939 #f0c75e #726255 #372e29 #000000;
}
.ravenclaw{
   color:#0E1A40 #222f5b #5d5d5d #946b2d #000000;
}

.slytherin{
   color: #1a472a #2a623d #5d5d5d #aaaaaa #000000;
}

.gryffindor{
    color:#740001 #AE0001 #eeba30 #d3a625 #000000;
}
*/

p{
    font-family: var(--font-family);
}

/*nav*/


.logo{
    width: 20rem;
    
}

/*main*/


main{
    cursor: url(../assets/varita.png), auto;
    background-color:#eeba30 ;
    min-height: 95vh;
    min-width: 100vw;   
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    
}
.card__image{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.card{
    font-family: var(--font-family);
    display: flex;
    margin:0.5rem;
}

.search{
    margin:0.5rem;
}

form{
    border: 0.1rem solid #AE0001;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width:90vw;
    margin:0.5rem;
}
#escudos{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.form-check{    
    margin:0.2rem;
    padding: 0.5rem;
}

.escudos{
    margin:0.5rem;
}


input[type="checkbox"]:checked .img__escudos {
    width: 100rem;
  }

label{
    margin:0.5rem;
    width:5rem;
}
footer{
    background-color:#eeba30 ;
    min-height:5vh;
    border: 0.1rem solid #AE0001;
    cursor: url(../assets/varita.png), auto;
}
